<ion-view view-title="Home" hide-back-button="true" cache-view="false">
  <ion-nav-bar class="bar-stable"></ion-nav-bar>
  <ion-content >
    <div class="list list-inset">
      <div class="item" style="padding: 0px;background-image: url(img/5516665070_899e42e5b2_b.jpg);height: 100px;
                text-align: center;background-size: 100% 100%;" ng-click="GoToCity('ACCRA')">
        <div style="margin-top: 40px;"><a><span style="color: white; font-size: 18px;margin-top: 12px">ACCRA</span></a></div>
      </div>
      <div class="item" style="padding: 0px;background-image: url(img/kumasicityghana.jpg);height: 100px;
                text-align: center;margin-top: 3px;background-size: 100% 100%;" ng-click="GoToCity('KUMASI')">
        <div style="margin-top: 40px;"><a><span style="color: white; font-size: 18px;margin-top: 12px">KUMASI</span></a></div>
      </div>
      <div class="item" style="padding: 0px;background-image: url(img/gh_website_pressrelease_ten_fpso_713x476.jpg);height: 100px;
                 text-align: center;margin-top: 3px;background-size: 100% 100%;" ng-click="GoToCity('TAKORADI')">
        <div style="margin-top: 40px;"><a><span style="color: white; font-size: 18px;margin-top: 12px">TAKORADI</span></a></div>
      </div>
      <div class="item" style="padding: 0px;background-image: url(img/Train.jpg);height: 100px;
      text-align: center;margin-top: 3px;background-size: 100% 100%;" ng-click="GoToCity('TEMA')">
        <div style="margin-top: 40px;"><a><span style="color: white; font-size: 18px;margin-top: 12px">TEMA</span></a></div>
      </div>
    </div>
    <div> 
      <center>     
          <a ng-click="GoToLogin()" style="text-decoration: none;;color: #7d447d;font-size: 17px;font-weight: 600;">Login</a>
      
      </center> 
    </div>
  </ion-content>
</ion-view>

