<ion-view view-title="Rate Doctor" cache-view="false" ng-init="GetUserReview()" hide-nav-bar = "true">
<ion-nav-bar class="bar-stable">          
</ion-nav-bar>

<ion-nav-buttons side="left">
    
          <button class="button button-clear ion-close" style="font-size: 25px;" ng-click="GoBacktoMain()" transitiontype="slide" direction="right" go-native>
          </button>
  
</ion-nav-buttons>

<ion-content scroll="false">
 <div  style="height: 160px;">
     <!-- <i class="button ion-close" ng-click="GoBacktoMain()" style="font-size: 24px;margin-left: 2px;color: #000000;background: transparent;top: 2px;" transitiontype="slide" direction="right" go-native></i> -->
     <p style="text-align: center;margin-top: 13px;color: #000000;font-weight: 500;font-size: 25px;">{{name1}} {{name2}}</p>
     <p style="text-align: center;margin-top: 0px;color: gray;font-size: 16px;font-weight: 500;">CALL ENDED</p>
     </div>


  <center><img src="http://68.183.101.193/mvc/dhaug2017_338/upload/doctor_profile/{{ProfilePic}}" onError="this.src= 'http://68.183.101.193/android/338/uploads/uron_person.jpg'" id="ProfilePic" style="border-radius:50%;margin-top: -60px;" width="110" height="110">
</center>

<form ng-submit="SaveReview(Comment,x.total)">
<br><br>
<p style="text-align: center;font-size: 17px;padding: -2px;font-weight: 500;line-height: 3px;">How was your appointment ?</p>
<p style="text-align: center;font-size: 17px;font-weight: 500">Please rate us and also leave a comment</p>
<br>
      <label class="item item-input" style="margin: 25px;margin-top: 37px;border: 1px solid #0d3250;margin-bottom: 6px;margin-top: 0px;">
           <textarea  class="placeholder" type="text" placeholder="Write Review" style="color: #606067;" ng-model="Comment">
           </textarea>
      </label>
      <br>
    <ionic-ratings ratingsobj='ratingsObject' style="font-size: 10px;color: #50A0FF;padding: 5px 10px;" index="x.total"></ionic-ratings>

<br>
<button class="button button-positive"  style="background-color: #50A0FF; width:94%; color:#f8f8f8;margin-left: 10px;border-radius: 25px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);font-size: 17px;font-weight: 400">
SUBMIT
</button>
</form> 



<!-- <form ng-submit="SaveReview(Comment)">
<br>

 <center><img src="http://imdhrup.com/mvc/dhaug2017_338/upload/doctor_profile/{{ProfilePic}}" onError="this.src= 'http://imdhrup.com/android/338/uploads/uron_person.jpg'" id="ProfilePic" style="border-radius:50%;" width="60"; height="60";>
 <br>
 <p style="color: #50A0FF;font-size: 17px;font-weight: 500;">{{name1}} {{name2}}</p></center>
      <label class="item item-input" style="margin: 10px;border: 1px solid #0d3250;margin-bottom: -16px;">
           <textarea  class="placeholder" type="text" placeholder="Write Review" style="color: #606067;" ng-model="Comment">
           </textarea>
      </label>
      <br>
    <ionic-ratings ratingsobj='ratingsObject' style="font-size: 10px;color: #50A0FF" index="x.total"></ionic-ratings>

<br><br>
<button class="button button-positive"  style="background-color: #50A0FF; width:94%; color:#f8f8f8;margin-left: 10px;border-radius: 25px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);font-size: 17px;font-weight: 400">
SUBMIT
</button>
</form> -->


  </ion-content>
 <ion-footer-bar style="background: transparent;">

    <div class="row" style="text-align: center;margin-top: -10px;">
    <div class="col" style="font-size: 17px;font-weight: 500" ng-click="GoBacktoMain()" >
      Cancel
    </div>
    <!-- <p style="font-size: 15px;margin-top: 30px;margin-top: -20px">Cancel</p></center> -->
    </div>
           <br><br>
</ion-footer-bar>
</ion-view>

