<ion-view view-title="Add Notes" hide-back-button="true" cache-view="false">
<ion-nav-bar class="bar-stable "></ion-nav-bar>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-android-arrow-back" ng-click="goBackToMainPAge()">
    </button>
</ion-nav-buttons>

<ion-content style="background: linear-gradient(#90CAF9,#0D47A1);" padding="true">
<br>
<h1 id="output">Welcome!</h1>
<center>

<button class="button button-small" style="margin: 10px;color: #ffffff;background-color: #dc5d2e; padding-right: 15px; padding-left: 15px;" ng-click="save()">
<b>Save</b>
</button>
</center>

</ion-content>
</ion-view>

