<ion-view view-title="Video Visits" cache-view="false">
<ion-nav-bar class="bar-stable"></ion-nav-bar>
<ion-nav-buttons side="left">
    <button class="button button-clear ion-chevron-left"
     ng-click="GoBack()" style="font-size: 25px;" transitiontype="slide" direction="right" go-native>
    </button>
  </ion-nav-buttons>
<!-- AIzaSyB7o6ZBeuix34GWgAEWl0YlSnmaqXmJSgg -->

<ion-content>
  <br>
  <center>
  <!--  <div class="" style="color:#50A0FF;font-family: sans-serif;font-size: 19px;">Notification is sent to doctor to prepeare for video call. Will be available within 5 minutes. Please wait while doctor is prepare...</div> -->
   <div class="" style="color:#50A0FF;font-family: sans-serif;font-size: 19px;">Hang Tight! The doctor has been notified to review your health history from and attend to you.</div>
  <br>
  <h2 id="countdown" style="color:#50A0FF;font-size: 55px;"></h2>
  
  <br>
   <p style="color:#50A0FF;font-family: sans-serif;font-size: 19px;">Expected wait time is 15 minutes or less. One of our certified doctor will be with you shortly.</p>

  <br>
  </center>

  </ion-content>
</ion-view>

